{% extends 'website/base.html' %}
{% block content %}
<div class="w3-padding-large" id="main">

<h1>New piece of work</h1>
    <form enctype="multipart/form-data" method="POST" action: "/inc/" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <form enctype="multipart/form-data" method="POST" action: "/inc/">{% csrf_token %}
      {{ form.nonfield_errors }}
      <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}"></label> <input class = "w3-input w3-padding-16" value="{{ form.title.value }}" type="text" name="title" placeholder=" " required id="id_title" maxlength="200" required/>
      </div>
      <p>
      <div class="fieldWrapper">
        {{ form.text.errors }}
        <label for="{{ form.text.id_for_label }}"></label>
          <textarea class = "w3-input w3-padding-16" type="text" name="text" placeholder="Text" required id="id_text" rows="10" cols="40" required />
          {{ form.text.value }}
          </textarea>
      </div>
      <p>
      <div class="fieldWrapper">
        {{ form.image.errors }}

        <label for="file"></label>Currently: <a href="{{ form.image.url }}">{{ form.image.value }}</a><br />

        <input class = "inputfile button" type="file" name="image" id="file"/>
        <label for="file">Change:</label>input#id_image
      </div>



        <button class="button w3-text-light-grey" type="submit">
          <i class="fa fa-paper-plane"></i> Save
        </button>

    </form>


{% endblock %}
