{% extends 'website/base.html' %}
{% block content %}
  <div class="w3-padding-large" id="main">
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="login">

      <h2 class="w3-text-light-grey">Login</h2>
      <hr style="width:200px" class="w3-opacity">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}


    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>

            <td>
            <input class = "w3-input w3-padding-16" value="{{ form.username.value }}" type="text" name="username" placeholder="Username" >
            </td>
        </tr>
        <tr>
            <td>
              <input class = "w3-input w3-padding-16" value="{{ form.password.value }}" type="password" name="password" placeholder="Password" >
            </td>
        </tr>
        </table>

        <input type="submit" class= "button-normal" value="login" id=login />
        <label for="login"><i class="fa fa-paper-plane"></i>Login</label>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
